$color1: #000000;
$color2: #14213D; //Theme: Dark
$color3: #FCA311;
$color4: #E5E5E5; //Theme: Grey
$color5: #ffffff;
$color6: #F2BED1; //Theme: Pink
$color7: #5C8984; //Theme: Green
$color8: #8EACCD; //Theme: Blue
$color9: #FFCF96; //Theme: Yellowe
