@import "../../../styles/helpers";
@import "../../../styles/colors";

// GENERAL STYLES
.messagesContainer {
  @include displayFlex (column wrap, flex-start, center);
  @include light();
  border-radius: 10px;;
  width: 100%;
  padding: 5px;
  .tittleBox {
    @include displayFlex (row wrap, space-between, center);
    width: 100%;
    padding: 5px;
    h1 {
      line-height: 1.7rem;
      margin: 10px;
    }
  }
  .filtersBox {
    @include displayFlex (row wrap, center, center);
    width: 100%;
    .searchBar {
      margin: 15px;
    }
    a {
      @include displayFlex (row nowrap, center, center);
      @include dark();
      @include bold12();
      line-height: normal;
      margin: 5px;
      padding: 10px;
      border-radius: 5px;
      width: 30%;
    }
  }
  .messagesBox {
    @include displayFlex (column nowrap, flex-start, flex-start);
    border-radius: 5px;
    width: 100%;
    height: 180px;
    overflow-y: auto;
    .divLoop {
      width: 100%;
    }
    .messageCard {
      @include displayFlex (row wrap, space-between, center);
      width: 100%;
      border-radius: 5px;
      margin: 5px 0;
      padding: 5px;
      .messageInfo {
        @include displayFlex (column nowrap, flex-start, flex-start);
        width: 60%;
        padding: 0 15px;
        .name {
          @include bold16();
        }
        .label {
          @include medium12();
        }
        p {
          line-height: normal;
          margin: 0;
        }
      }
      .crudContainer {
        @include displayFlex (row nowrap, space-between, center);
        @include bold16();
        width: 30%;
        padding: 10px;
        border-radius: 0 0 5px 5px;
        .button {
          @include displayFlex (row wrap, center, center);
          @include transparentDark();
          @include bold12();
          width: 100%;
          margin: 0 5px;
          border-radius: 5px;
          padding: 5px;
        }
        .buttonModal {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .messagesBox {
      @include displayFlex (row wrap, center, center);
    }
  }

  //CRUD BOX
  .modalText {
    color: black;
  }
}
