<div class="messagesContainer">
  <div class="tittleBox">
    <h1>{{ 'Messages' | translate }}</h1>
  </div>
  <div class="filtersBox">
    <div class="input-group mb-3 search-bar searchBar">
      <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" (keyup)="updateList($event)">
      <div class="input-group-append">
        <button class="input-group-text btn-dark" (click)="searchMessageName()">{{ 'Search' | translate }}</button>
      </div>
    </div>
    <a (click)="getMessages()">{{ 'All' | translate }}</a>
    <a (click)="getFormMessages()">{{ 'Website' | translate }}</a>
    <a (click)="getInternalMessages()">{{ 'Internal' | translate }}</a>
  </div>
  <div class="messagesBox">
    <div class="divLoop" *ngFor="let message of filteredList;">
      <div class="messageCard">
        <div class="messageInfo">
          <p class="name">{{message.name}}</p>
          <p class="label">{{message.label}}</p>
          <p class="label">{{message.date | date: 'EEE, dd MMM yyyy'}}</p>
        </div>
        <div class="crudContainer">
          <a  class="button" data-bs-toggle="modal" data-bs-target="#detailsMessageModal" (click)="getThisMessage(message)"><span class="material-symbols-outlined">import_contacts</span></a>
          <a class="button" data-bs-toggle="modal" data-bs-target="#deleteMessageModal" (click)="getThisMessage(message)"><span class="material-symbols-outlined">delete</span></a>

          <!-- MODAL FOR DETAILS -->
          <div class="modal modalText fade" id="detailsMessageModal" tabindex="-1" aria-labelledby="detailsMessageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="detailsMessageModalLabel">{{ 'Message from: ' | translate }} {{this.thisMessage.name}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="date">{{this.thisMessage.date}}</p>
                  <p class="email">{{this.thisMessage.email}}</p>
                  <p class="company">{{this.thisMessage.company}}</p>
                  <p class="message">{{this.thisMessage.message}}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- MODAL FOR DELETE -->
            <div class="modal modalText fade" id="deleteMessageModal" tabindex="-1" aria-labelledby="deleteMessageModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteMessageModalLabel">{{ 'You sure you want to delete message from: ' | translate }} {{this.thisMessage.name}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a class="button buttonModal" (click)="deletingMessage(this.thisMessage)">{{ 'Delete' | translate }}</a>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
