<div class="pageContainer">
  <form class="contactFormContainer" [formGroup]="signinForm" (ngSubmit)="loginUser()">
    <div class="contactFormHeader">
      <h3 class="title">{{"Sign in" | translate }}</h3>
    </div>
    <div class="contactFormBody">
      <mat-form-field class="inputContainer">
        <mat-label>{{ 'User' | translate }}</mat-label>
        <input matInput placeholder="contact@diegoperez.es" type="text" formControlName="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="inputContainer">
        <mat-label>{{ 'Password' | translate }}</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </div>
    <div class="contactFormFooter">
      <button type="submit" class="sendButton" (keyup.enter)="loginUser()">{{"Send" | translate }}</button>
    </div>
  </form>
</div>

<app-footer class="footerFix"></app-footer>
