<div class="pageContainer">
  <div class="contactFormContainer">
    <div class="contactFormHeader">
      <p class="title">{{ 'Sign in' | translate }}</p>
    </div>
    <div class="contactFormBody">
      <mat-form-field class="inputContainer">
        <mat-label>{{ 'User' | translate }}</mat-label>
        <input matInput placeholder="hola@diegoperez.es" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="inputContainer">
        <mat-label>{{ 'Password' | translate }}</mat-label>
        <input matInput>
      </mat-form-field>
    <div class="contactFormFooter">
      <a class="sendButton">{{ 'Send' | translate }}</a>
      <p class="message" (click)="showHideForm()">{{"Problems to sign in. Contact me." | translate}}</p>
    </div>
  </div>
</div>

<app-footer class="footerFix"></app-footer>
