<div class="pageContainer">
  <!-- INTRO BANNER -->
  <div class="introContainer">
    <div class="cardContainer">
      <div class="card" routerLink="/amazon-solutions">
        <div class="textsBox">
          <a>{{ "Amazon solutions" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/advertising-material">
        <div class="textsBox">
          <a>{{ "Advertising material" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/corporate-identity">
        <div class="textsBox">
          <a>{{ "Corporate identity" | translate }}</a>
        </div>
      </div>
    </div>
    <div class="introText">
      <div class="title">
        <h1>{{"Advertising material" | translate}}.</h1>
        <h3>{{"Digital services" | translate}}</h3>
      </div>
      <div class="description">
        <p>{{"Craft eye-catching advertising materials for brand resonance. Innovative designs drive engagement across posters, banners, and digital ads, enhancing your brand's identity and visibility." | translate}}</p>
      </div>
    </div>
  </div>
  <!-- SUBSERVICES BANNER -->
  <div class="bulletContainer">
    <div class="infoContainer">
      <div class="bullet">
        <span class="material-symbols-outlined">
          chevron_right
        </span>
      </div>
      <div class="text">
        <p>{{"Create attention-grabbing posters, banners, and digital advertisements." | translate}}</p>
      </div>
    </div>
    <div class="infoContainer">
      <div class="bullet">
        <span class="material-symbols-outlined">
          chevron_right
        </span>
      </div>
      <div class="text">
        <p>{{"Innovative designs enhancing brand identity for better visibility." | translate}}</p>
      </div>
    </div>
    <div class="infoContainer">
      <div class="bullet">
        <span class="material-symbols-outlined">
          chevron_right
        </span>
      </div>
      <div class="text">
        <p>{{"Tailored and engaging visuals for compelling advertising material." | translate}}</p>
      </div>
    </div>
    <div class="infoContainer">
      <div class="bullet">
        <span class="material-symbols-outlined">
          chevron_right
        </span>
      </div>
      <div class="text">
        <p>{{"High-quality and creative content that resonates with the audience." | translate}}</p>
      </div>
    </div>
  </div>
  <!-- DETAILED INFO BANNER EBC-->
  <div class="subservice">
    <div class="titleContainer">
      <h1>{{ "Online and offline images for advertising" | translate }}</h1>
    </div>
    <div class="block">
      <div class="promoImageContainer">
        <img class="imagePromo" src="../../../assets/images/advertising-material/online-promo - 800x1600.png"/>
      </div>
      <div class="promoImageContainer">
        <img class="imagePromo" src="../../../assets/images/advertising-material/offline-promo - 800x1600.png"/>
      </div>
    </div>
  </div>
  <div class="background"></div>
</div>
<app-footer class="footerFix"></app-footer>
