<div class="pageContainer">
  <!-- INTRO BANNER -->
  <div class="introContainer">
    <div class="cardContainer">
      <div class="card" routerLink="/restaurant-webapp">
        <div class="textsBox">
          <a>{{ "Restaurant web-app" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/crm-webapp">
        <div class="textsBox">
          <a>{{ "CRM web-app" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/maintenance-support">
        <div class="textsBox">
          <a>{{ "Maintenance & support" | translate }}</a>
        </div>
      </div>
    </div>
    <div class="introText">
      <div class="title">
        <h1>{{"Restaurant webapp" | translate}}.</h1>
        <h3>{{"Digital services" | translate}}</h3>
      </div>
      <div class="description">
        <p>{{"Fully customizable frontend, engaging user experience, and a robust backend for effortless product management, user accounts, and in-app communications." | translate}}</p>
      </div>
    </div>
  </div>
  <!-- SUBSERVICES BANNER WITH BULLETS -->
  <div class="gifAndBullets">
    <!-- GIF -->
    <div class="gifContainer">
      <img class="gif" src="../../../../assets/images/developer/frameworks.gif" alt="frameworks-gif" />
    </div>
    <!-- BULLET POINTS -->
    <div class="bulletContainer">
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Customizable Frontend: Tailored frontend solutions to match your brand, ensuring a unique online presence." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Enhanced User Experience: Engage users with intuitive interfaces and seamless navigation for increased interaction and satisfaction." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Effortless Product Management: Simplify and streamline product administration for increased efficiency." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"User Account Functionality: Provide secure and convenient user account functionalities." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"In-App Communication Features: Foster interaction and connectivity within your application for improved engagement." | translate}}</p>
        </div>
      </div>

      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Robust Backend Structure: Dependable backend infrastructure to support smooth operations and functionality." | translate}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="background"></div>
</div>
<app-footer class="footerFix"></app-footer>
