<div class="pageContainer">
  <!-- INTRO BANNER -->
  <div class="introContainer">
    <div class="categoryCard" routerLink="/web-development">
      <div class="textsBox">
        <h1>{{ "Web development services" | translate }}</h1>
      </div>
    </div>
    <div class="cardContainer">
      <div class="card" routerLink="/restaurant-webapp">
        <div class="textsBox">
          <a>{{ "Restaurant web-app" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/crm-webapp">
        <div class="textsBox">
          <a>{{ "CRM web-app" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/maintenance-support">
        <div class="textsBox">
          <a>{{ "Maintenance & support" | translate }}</a>
        </div>
      </div>
    </div>
    <div class="introText">
      <div class="title">
        <h1>{{"CRM webapp" | translate}}.</h1>
        <h3>{{"Digital services" | translate}}</h3>
      </div>
      <div class="description">
        <p>{{"Empower your business with a robust, secure and customizable solution for managing leads, contacts, clients, projects and more. Perfect for team collaboration and project management." | translate}}</p>
      </div>
    </div>
  </div>
  <!-- SUBSERVICES BANNER WITH BULLETS -->
  <div class="gifAndBullets">
    <!-- GIF -->
    <div class="gifContainer">
      <img class="gif" src="../../../../assets/images/developer/languages.gif" alt="languages-gif" />
    </div>
    <!-- BULLET POINTS -->
    <div class="bulletContainer">
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Enhanced Customer Management: Streamline customer relationship management with a centralized system, organizing contacts, leads, and interactions, fostering stronger relationships and personalized service delivery." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Robust Solution: A powerful, sturdy framework designed to manage your business operations effectively." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Customizable Features: Tailored functionalities to align with your specific business needs." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Scalable Solutions: Tailored to your business needs, our CRM web application offers scalable features, ensuring flexibility and adaptability as your business grows." | translate}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="background"></div>
</div>
<app-footer class="footerFix"></app-footer>
