<div class="pageContainer">
  <!-- INTRO BANNER -->
  <div class="introContainer">
    <div class="categoryCard" routerLink="/graphic-design">
      <div class="textsBox">
        <a>{{ "Graphic design services" | translate }}</a>
      </div>
    </div>
    <div class="cardContainer">
      <div class="card" routerLink="/amazon-solutions">
        <div class="textsBox">
          <a>{{ "Amazon solutions" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/advertising-material">
        <div class="textsBox">
          <a>{{ "Advertising material" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/corporate-identity">
        <div class="textsBox">
          <a>{{ "Corporate identity" | translate }}</a>
        </div>
      </div>
    </div>
    <div class="introText">
      <div class="title">
        <h1>{{"Corporate identity" | translate}}.</h1>
        <h3>{{"Digital services" | translate}}</h3>
      </div>
      <div class="description">
        <p>{{"A carefully crafted guide, it encompasses your brand's core essence, presenting exclusive assets from logos to color schemes. Guaranteeing visual harmony across all channels, this manual establishes brand authority and recognition, delivering a cohesive brand persona." | translate}}</p>
      </div>
    </div>
  </div>
  <!-- SUBSERVICES BANNER -->
  <div class="bulletContainer">
    <div class="infoContainer">
      <div class="bullet">
        <span class="material-symbols-outlined">
          chevron_right
        </span>
      </div>
      <div class="text">
        <p>{{"Unified Visual Language: Establish a cohesive and unified visual language across all brand communications." | translate}}</p>
      </div>
    </div>
    <div class="infoContainer">
      <div class="bullet">
        <span class="material-symbols-outlined">
          chevron_right
        </span>
      </div>
      <div class="text">
        <p>{{"Logo and Design Consistency: Present guidelines for logo usage, typography, and color schemes, ensuring a consistent brand representation." | translate}}</p>
      </div>
    </div>
    <div class="infoContainer">
      <div class="bullet">
        <span class="material-symbols-outlined">
          chevron_right
        </span>
      </div>
      <div class="text">
        <p>{{"Brand Recognition: Develop exclusive assets for easy brand recognition and build a unique identity in the market." | translate}}</p>
      </div>
    </div>
    <div class="infoContainer">
      <div class="bullet">
        <span class="material-symbols-outlined">
          chevron_right
        </span>
      </div>
      <div class="text">
        <p>{{"Professional Brand Guide: Provide a comprehensive manual for internal and external stakeholders, guaranteeing the maintenance of brand integrity and consistency." | translate}}</p>
      </div>
    </div>
  </div>
  <!-- DETAILED INFO BANNER-->
  <div class="subservice">
    <div class="titleContainer">
      <h1>{{ "Corporate identity manual for a Pizza place" | translate }}</h1>
    </div>
    <div class="block">
      <div class="promoImageContainer">
        <img class="imagePromo" src="../../../assets/images/corporate-identity/corporate-indentity-promo - 800x1600.png"/>
      </div>
      <div class="textAndGalleryContainer">
        <div class="infoContainer">
          <div class="bullet">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
          </div>
          <div class="text">
            <p>{{"Comprehensive manuals that ensure consistent brand identity, encompassing logo use, color palettes, typography, and design guidelines. This manual guarantees a uniform brand representation across all mediums." | translate}}</p>
          </div>
        </div>
        <div class="infoContainer">
          <div class="bullet">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
          </div>
          <div class="text">
            <p>{{"My manuals are designed to be adaptable and scalable. They not only serve to standardize the brand but also allow for future expansion or adaptations. This ensures that your brand maintains its integrity while allowing flexibility for future brand development." | translate}}</p>
          </div>
        </div>
        <div class="corporateManualContainer">
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-01.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-02.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-03.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-04.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-05.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-06.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-07.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-08.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-09.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-10.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-11.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-12.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-13.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-14.png"/>
          <img class="manualPage" src="../../../assets/images/corporate-identity/page-15.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="background"></div>
</div>
<app-footer class="footerFix"></app-footer>
