<div class="usersContainer">
  <div class="tittleBox">
    <h1>{{ 'Tasks' | translate }}</h1>
    <a class="button" data-bs-toggle="modal" data-bs-target="#createTaskModal">{{ 'Create task' | translate }}</a>
  </div>
    <!-- MODAL PARA CREAR -->
      <div class="modal modalText fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTasModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="createTasModalLabel">{{ 'You are creating an user' | translate }}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="createTaskForm" (ngSubmit)="creatingTask()">
                <fieldset disabled class="form">
                  <label>{{ 'Task Id' | translate }}</label>
                  <input type="text" class="form-control mb-2" formControlName="_id" placeholder="Task Id">
                </fieldset>
                <select class="form-select" formControlName="client" required>
                  <option selected disabled>{{ 'Select client' | translate }}</option>
                  <option *ngFor="let client of clients" [value]="client._id">{{ client.name }} {{ client.lastName }}</option>
                </select>
                <div class="form">
                  <label>{{ 'Date start' | translate }}</label>
                  <div class="input-group">
                    <input type="text" class="form-control mb-2" formControlName="dateStart" placeholder="" >
                    <button class="btn btn-outline-secondary" type="button" (click)="setStartDate()">{{ 'Start' | translate }}</button>
                  </div>
                </div>
                <div class="form">
                  <label>{{ 'Date end' | translate }}</label>
                  <div class="input-group">
                    <input type="text" class="form-control mb-2" formControlName="dateEnd" placeholder="" >
                    <button class="btn btn-outline-secondary" type="button" (click)="setEndDate()">{{ 'End' | translate }}</button>
                  </div>
                </div>
                <div class="form">
                  <label>{{ 'Description' | translate }}</label>
                  <input type="text" class="form-control mb-2" formControlName="description" placeholder="" >
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">{{ 'Create task' | translate }}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

  <div class="filtersBox">
    <!-- Searchbar -->
    <div class="input-group mb-3 search-bar searchBar">
      <input type="text" class="form-control" placeholder="{{ 'Search by name' | translate }}" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="selectedClient" (keyup)="applyFilters()">
      <div class="input-group-append">
        <button class="input-group-text btn-dark" (click)="applyFilters()"><span class="material-symbols-outlined">search</span></button>
      </div>
    </div>
    <!-- Filtro año -->
    <div class="input-group mb-3 filterItem">
      <select class="form-select" id="inputGroupSelect01" [(ngModel)]="selectedYear" (change)="applyFilters()">
        <option selected value="null">{{ 'Year' | translate }}</option>
        <option value="2024">2024</option>
        <option value="2023">2023</option>
      </select>
    </div>
    <!-- Filtro mes -->
    <div class="input-group mb-3 filterItem">
      <select class="form-select" id="inputGroupSelect02" [(ngModel)]="selectedMonth" (change)="applyFilters()">
        <option selected value="null">{{ 'Month' | translate }}</option>
        <option value="enero">{{ 'enero' | translate }}</option>
        <option value="febrero">{{ 'febrero' | translate }}</option>
        <option value="marzo">{{ 'marzo' | translate }}</option>
        <option value="abril">{{ 'abril' | translate }}</option>
        <option value="mayo">{{ 'mayo' | translate }}</option>
        <option value="junio">{{ 'junio' | translate }}</option>
        <option value="julio">{{ 'julio' | translate }}</option>
        <option value="agosto">{{ 'agosto' | translate }}</option>
        <option value="septiembre">{{ 'septiembre' | translate }}</option>
        <option value="octubre">{{ 'octubre' | translate }}</option>
        <option value="noviembre">{{ 'noviembre' | translate }}</option>
        <option value="diciembre">{{ 'diciembre' | translate }}</option>
      </select>
    </div>
  </div>

  <p class="time-counter">{{ 'Total time'}}: {{ totalTimeCounter }}</p>


  <div class="usersBox">
    <div class="divLoop" *ngFor="let task of filteredList;">
      <div class="userCard">
        <div class="userInfo">
          <p class="name">{{task.client.name}} {{task.client.lastName}} - {{task.client.company}}</p>
          <p class="subInfo">{{ formattedStartDate(task) }}</p>
          <p class="subInfo">{{ 'Total time'}}: {{ getElapsedTime(task) }}</p>
        </div>
        <div class="crudContainer">

          <a  class="button" data-bs-toggle="modal" data-bs-target="#editTaskModal" (click)="getThisTask(task)"><span class="material-symbols-outlined">stylus_note</span></a>
          <!--MODAL PARA EDITAR-->
            <div class="modal modalText fade" id="editTaskModal" tabindex="-1" aria-labelledby="editTaskModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editTaskModalLabel">{{ 'You are about to edit' | translate }} {{ this.thisTask.client?.name }} {{ this.thisTask.client?.lastName }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="editTaskForm" (ngSubmit)="editingTask(this.thisTask)">
                      <fieldset disabled class="form">
                        <label>{{ 'Task Id' | translate }}</label>
                        <input type="text" class="form-control mb-2" formControlName="_id" placeholder="User id" value="{{this.thisTask._id}}">
                      </fieldset>
                      <label>{{ 'Client Id' | translate }}</label>
                      <select class="form-select" formControlName="client" required>
                        <option selected disabled>{{this.thisTask.client?.name}} {{this.thisTask.client?.lastName}}</option>
                        <option *ngFor="let client of clients" [value]="client?._id">{{ client.name }} {{ client.lastName }}</option>
                      </select>
                      <div class="form">
                        <label>{{ 'Date start' | translate }}</label>
                        <div class="input-group">
                          <input type="text" class="form-control mb-2" formControlName="dateStart" placeholder="" value="{{this.thisTask.dateStart}}">
                          <button class="btn btn-outline-secondary" type="button" (click)="editStartDate()">{{ 'Start' | translate }}</button>
                        </div>
                      </div>
                      <div class="form">
                        <label>{{ 'Date end' | translate }}</label>
                        <div class="input-group">
                          <input type="text" class="form-control mb-2" formControlName="dateEnd" placeholder="" value="{{this.thisTask.dateEnd}}">
                          <button class="btn btn-outline-secondary" type="button" (click)="editEndDate()">{{ 'End' | translate }}</button>
                        </div>
                      </div>
                      <div class="form">
                        <label>{{ 'Description' | translate }}</label>
                        <input type="text" class="form-control mb-2" formControlName="description" placeholder=""  value="{{this.thisTask.description}}">
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">{{ 'Edit' | translate }}</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          <a class="button" data-bs-toggle="modal" data-bs-target="#deleteTaskModal" (click)="getThisTask(task)"><span class="material-symbols-outlined">delete</span></a>
          <!--MODAL PARA ELIMINAR-->
            <div class="modal modalText fade" id="deleteTaskModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">{{ 'You sure you want to delete task for' | translate }} {{this.thisTask.client?.name}} {{this.thisTask.client?.lastName}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a class="button buttonModal" data-bs-dismiss="modal" (click)="deletingTask(this.thisTask)">{{ 'Delete' | translate }}</a>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
