<div class="footerContainer">
  <div class="languagesThemesAreasContainer">
    <div class="themeLanguagesContainer">
      <div class="theme">
        <div class="button" (click)="setRandomTheme()">
          <span class="material-symbols-outlined icons cursor">sync</span>
        </div>
      </div>
      <div class="languages">
        <div class="button" (click)="setEnglish()" *ngIf="currentLanguage != 'en'">
          <img class="flag" src="../../../assets/images/flag-en.png" alt="United Kingdom Flag"/>
          <a>EN</a>
        </div>
        <div class="button" (click)="setSpanish()" *ngIf="currentLanguage != 'es'">
          <img class="flag" src="../../../assets/images/flag-es.png" alt="United Kingdom Flag"/>
          <a>ES</a>
        </div>
        <div class="button" (click)="setGerman()"  *ngIf="currentLanguage != 'de'">
          <img class="flag" src="../../../assets/images/flag-de.png" alt="United Kingdom Flag"/>
          <a>DE</a>
        </div>
      </div>
    </div>
    <div class="areasContainer">
      <div class="button" routerLink="/sign-in" >
        <a>{{ 'Customer area' | translate }}</a>
      </div>
      <div class="button" routerLink="/glossary">
        <a>{{ 'Glossary' | translate }}</a>
      </div>
      <div class="button" routerLink="/services" >
        <a>{{ 'Services' | translate }}</a>
      </div>
    </div>
  </div>
  <div class="legalContainer">
    <p>{{ 'Aviso legal' | translate }}</p>
    <p>{{ 'Política de cookies' | translate }}</p>
    <p>{{ 'Política de privacidad' | translate }}</p>
    <p> {{ 'Website developed by' | translate }} Diego Pérez, 2023.</p>
  </div>
</div>
