<div class="footerContainer">
  <div class="languagesThemesAreasContainer">
    <div class="themeLanguagesContainer">
      <div class="theme">
        <div *ngIf="dayNight" class="button" (click)="setThemeDark()">
          <span class="material-symbols-outlined icons cursor">dark_mode</span>
        </div>
        <div *ngIf="!dayNight" class="button" (click)="setThemeLight()">
          <span class="material-symbols-outlined icons cursor">light_mode</span>
        </div>
        <div class="button" (click)="setRandomTheme()">
          <span class="material-symbols-outlined icons cursor">sync</span>
        </div>
      </div>
      <div class="languages">
        <div class="button" (click)="setEnglish()" *ngIf="currentLanguage != 'en'">
          <a>EN</a>
        </div>
        <div class="button" (click)="setSpanish()" *ngIf="currentLanguage != 'es'">
          <a>ES</a>
        </div>
        <div class="button" (click)="setGerman()"  *ngIf="currentLanguage != 'de'">
          <a>DE</a>
        </div>
      </div>
    </div>
    <div class="areasContainer">
      <div class="button">
        <a routerLink="/sign-in" >{{ 'Customer area' | translate }}</a>
      </div>
      <div class="button">
        <a>{{ 'Glossary' | translate }}</a>
      </div>
      <div class="button">
        <a>{{ 'Services' | translate }}</a>
      </div>
    </div>
  </div>
  <div class="legalContainer">
    <p>{{ 'Aviso legal' | translate }}</p>
    <p>{{ 'Política de cookies' | translate }}</p>
    <p>{{ 'Política de privacidad' | translate }}</p>
    <p> Diego Pérez, 2023.</p>
  </div>
</div>
