<div class="pageContainer">
  <!-- INTRO BANNER -->
  <div class="introContainer">
    <div class="categoryCard" routerLink="/marketing-advertising">
      <div class="textsBox">
        <a>{{ "Marketing & advertising services" | translate }}</a>
      </div>
    </div>
    <div class="cardContainer">
      <div class="card" routerLink="/ppc-campaign">
        <div class="textsBox">
          <a>{{ "PPC campaign" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/email-marketing">
        <div class="textsBox">
          <a>{{ "Email marketing" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/marketing-strategy">
        <div class="textsBox">
          <a>{{ "Marketing strategy" | translate }}</a>
        </div>
      </div>
    </div>
    <div class="introText">
      <div class="title">
        <h1>{{"Email marketing" | translate}}.</h1>
        <h3>{{"Digital services" | translate}}</h3>
      </div>
      <div class="description">
        <p>{{"Boost engagement, conversions, and customer relationships with a tailored and analytics-driven email marketing service, designed to optimize your campaigns and achieve meaningful results." | translate}}</p>
      </div>
    </div>
  </div>
  <!-- SUBSERVICES BANNER WITH BULLETS -->
  <div class="gifAndBullets">
    <!-- GIF -->
    <div class="gifContainer">
      <img class="gif" src="../../../../assets/images/marketing/email.gif" alt="ppc-gif" />
    </div>
    <!-- BULLET POINTS -->
    <div class="bulletContainer">
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Tailored and responsive email campaigns designed to captivate audiences and increase engagement rates." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Segmentation strategies, ensuring the right message reaches the right audience for higher conversion rates." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Expert consultation and ongoing support to enhance email marketing strategies, harnessing the full potential of the platform for client success." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"A/B testing and analytics for continuous optimization, refining subject lines, content, and sending times for improved open and click-through rate." | translate}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="background"></div>
</div>
<app-footer class="footerFix"></app-footer>
