<div class="aboutContainer">
  <!-- COMIENZO DEL PRIMER BLOQUE -->
  <div class="firstBlock">
    <div class="imageContainer">
      <img class="image" src="../../../assets/images/diego.png" alt="diego-perez" />
    </div>
    <div class="contactContainer">
      <div class="contact">
        <div class="logoContainer">
          <a href="https://www.behance.net/graphicteam-dp" target="_blank">
            <img class="logo" src="../../../assets/images/about-icons/behance.png" alt="behance" />
          </a>
        </div>
      </div>
      <div class="contact">
        <div class="logoContainer">
          <a href="https://github.com/developerteam-dp" target="_blank">
            <img class="logo" src="../../../assets/images/about-icons/github.png" alt="github" />
          </a>
        </div>
      </div>
      <div class="contact">
        <div class="logoContainer">
          <a href="https://instagram.com/hallo.diego?utm_source=qr" target="_blank">
            <img class="logo" src="../../../assets/images/about-icons/instagram.png" alt="instagram" />
          </a>
        </div>
      </div>
      <div class="contact">
        <div class="logoContainer">
          <a href="https://wa.me/4917662676949" target="_blank">
            <img class="logo" src="../../../assets/images/about-icons/whatsapp.png" alt="whatsapp" />
          </a>
        </div>
      </div>
      <div class="contact">
        <div class="logoContainer">
          <a href="mailto:hola@diegoperez.es">
            <img class="logo" src="../../../assets/images/about-icons/gmail.png" alt="gmail" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- COMIENZO DEL SEGUNDO BLOQUE -->
  <div class="secondBlock">
    <div class="textContainer">
      <h1>Diego Pérez Rodríguez</h1>
      <h2>Digital services</h2>
      <p>{{ "I'm Diego, a versatile professional integrating marketing, graphic design, and web development skills. With a background in event management and diverse marketing roles, I bring a unique perspective from both agency and business points of view. Specialized as a senior graphic designer with a focus on sales impact. Originally from Spain, I'm now based in Cologne, Germany. I look forward to connecting with you — feel free to reach out anytime!" | translate }}</p>
      <a routerLink="/services">{{ "Services" | translate}}</a>
      <p>{{ "Skills" | translate }}:</p>
    </div>
    <div class="skillsContainer">
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/flag-es.png" alt="spanish-flag" />
        </div>
        <p>Español</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/flag-en.png" alt="united-kingdom-flag" />
        </div>
        <p>English</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/flag-de.png" alt="german-flag" />
        </div>
        <p>Deutsch</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/photoshop.png" alt="photoshop" />
        </div>
        <p>Photoshop</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/illustrator.png" alt="illustrator" />
        </div>
        <p>Illustrator</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/indesign.png" alt="indesign" />
        </div>
        <p>Indesign</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/premiere.png" alt="premiere" />
        </div>
        <p>Premiere</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/after-effect.png" alt="after-effect" />
        </div>
        <p>After effect</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/blender.png" alt="blender" />
        </div>
        <p>Blender</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/google-ads.png" alt="google-ads" />
        </div>
        <p>Google-Ads</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/amazon-ads.png" alt="amazon-ads" />
        </div>
        <p>Amazon-Ads</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/facebook-ads.png" alt="facebook-ads" />
        </div>
        <p>Facebook-Ads</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/mailchimp.png" alt="mailchimp" />
        </div>
        <p>Mailchimp</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/semrush.png" alt="semrush" />
        </div>
        <p>Semrush</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/google-trends.png" alt="google-trends" />
        </div>
        <p>Google Trends</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/moz.png" alt="moz" />
        </div>
        <p>MOZ</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/ahrefs.png" alt="ahrefs" />
        </div>
        <p>Ahrefs</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/html.png" alt="html" />
        </div>
        <p>HTML</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/css.png" alt="css" />
        </div>
        <p>CSS</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/javascript.png" alt="javascript" />
        </div>
        <p>JavaScript</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/angular.png" alt="angular" />
        </div>
        <p>Angular</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/react.png" alt="react" />
        </div>
        <p>React</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/vue.png" alt="vue" />
        </div>
        <p>VUE</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/nodejs.png" alt="nodejs" />
        </div>
        <p>NodeJS</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/php.png" alt="php" />
        </div>
        <p>PHP</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/mongodb.png" alt="mongodb" />
        </div>
        <p>MongoDB</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/mysql.png" alt="mysql" />
        </div>
        <p>MySQL</p>
      </div>
      <div class="skill">
        <div class="logoContainer">
          <img class="logo" src="../../../assets/images/about-icons/sql.png" alt="sql" />
        </div>
        <p>SQL</p>
      </div>
    </div>
  </div>
</div>
<!-- CONTACT POPUP -->
<div class="contactPopup" *ngIf="contactPopup">
  <h1>{{contact}}</h1>
  <div class="buttons">
    <a (click)="closePopup()">Close</a>
    <a (click)="copyContact()">Copy</a>
  </div>
</div>
<div (dblclick)="closePopup()" *ngIf="contactPopup" class="darkBackground"></div>

<!-- <app-footer class="footerFix"></app-footer> -->
