@import "../../styles/helpers";
@import "../../styles/colors";

// GENERAL STYLES
.aboutContainer {
  margin-top: 10px;
  padding-top: 50px;
  @include displayFlex (row wrap, center, flex-start);
  @include medium12();
  @include transparentLight();
  width: 100%;
  .firstBlock {
    width:45%;
    @include displayFlex (column wrap, center, flex-end);
    padding: 10px 30px 10px 10px;
    .imageContainer {
      @include displayFlex (column wrap, center, center);
      .image {
        border-bottom: solid 4px white;
      }
      .image:hover {
        content: url("../../../assets/images/diego-about.png");
        content: class(".inverted");
      }
    }
    .contactContainer {
      @include displayFlex (row wrap, center, center);
      margin: 20px 0 0;
      .contact {
        cursor: pointer;
        @include displayFlex (row wrap, center, center);
        margin: 5px;
        .logoContainer {
          .logo {
            width: 40px;
            margin-right: 5px;
          }
        }
        p {
          display: none;
        }
      }
    }
  }
  .secondBlock {
    width:50%;
    @include displayFlex (column wrap, center, flex-start);
    // width: 70%;
    padding: 10px 10px 10px 30px;
    margin-right: 15px;
    // max-width: 800px;
    .textContainer {
      @include displayFlex (column wrap, center, flex-start);
      margin: 10px 0;
      h1 {
        @include bold16();
        font-size: 24px;
        margin: 0;
      }
      h2 {
        @include italic12();
        margin: 0;
      }
      p {
        @include medium12();
      }
      a {
        @include bold12();
        @include whiteBlack();
        padding: 5px 10px;
        margin-bottom:10px;
        border-radius: 2px;
      }
    }
    .skillsContainer {
      @include displayFlex (row wrap, center, center);
      padding: 0 30px;
      .skill {
        @include displayFlex (row wrap, flex-start, flex-start);
        margin: 5px;
        .logoContainer {
          .logo {
            width: 20px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

//Desktop
@media (max-width: 860px) {
  .aboutContainer {
    @include displayFlex (column wrap, center, center);
    .firstBlock {
      @include displayFlex (column wrap, center, center);
      width:100%;
      .imageContainer {
        width:100%;
        @include displayFlex (column wrap, center, center);
        .image {
          width: 300px;
          content: url("../../../assets/images/diego-about.png");
          border-bottom: solid 4px white;
        }
      }
    }
    .secondBlock {
      padding: 30px 15px 15px 15px;
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .aboutContainer {
    .firstBlock {
      .contactContainer {
        .contact:hover {
          @include displayFlex (column wrap, center, center);
          margin: 5px;
          .logoContainer {
            .logo {
              width: 60px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

//Contact pop up
.contactPopup {
  z-index: 99;
  @include light();
  @include displayFlex (column nowrap, center, center);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border: none;
  border-radius: 2px;
  h1 {
    @include bold12();
    line-height: normal;
    font-size: 1.4rem;
    margin: 0
  }
  .buttons {
    @include displayFlex (row wrap, space-between, center);
    width: 100%;
    margin: 20px 0 0;
    a {
      @include dark();
      @include displayFlex (row wrap, center, center);
      padding: 10px;
      border-radius: 2px;
      width: 48%;
      // height: 40px;
    }
  }
}

//Dark backrgound styles
.darkBackground {
  z-index:75;
  background: $color1;
  opacity: 75%;
  position: fixed;
  bottom:0;
  top:0;
  right:0;
  left:0;
}

//Footer styles
.footerFix {
  margin-top: 30px;
  display: block;
}
@media (min-width:800px) and (min-height:960px) {
  .footerFix {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
