<div class="homeContainer">
  <div class="introContainer">
    <div class="textContainer">
      <h1>{{"Web development services." | translate}}</h1>
      <h3>{{"Digital services" | translate}}</h3>
      <p>{{"Tailored services for websites and web apps. A mobile-first focus ensures a seamless experience on every device. Contact me for a free consultation on your project." | translate}}</p>
    </div>
    <div class="imageContainer">
      <img class="image" routerLink="/graphic-design" src="../../../assets/images/developer-image.png" alt="isologotipo Diego Perez" />
    </div>
  </div>
  <div class="cardsContainer">
    <div class="cardGroup">
      <div class="card">
        <div class="grayBackground">
          <div class="textsBox">
            <h1>{{ "Restaurant web-app" | translate }}</h1>
            <p>{{ "Fully customizable frontend, engaging user experience, and a robust backend for effortless product management, user accounts, and in-app communications." | translate }}</p>
          </div>
          <div class="buttonsBox">
            <a (click)="addProduct('Restaurant web-app')" class="cardButton">
              <span class="material-symbols-outlined">
                library_add
              </span>
            </a>
            <a routerLink="/restaurant-webapp" class="cardButton">
              <span class="material-symbols-outlined">
                open_in_new
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="grayBackground">
          <div class="textsBox">
            <h1>{{ "CRM web-app" | translate }}</h1>
            <p>{{ "Empower your business with a robust, secure and customizable solution for managing leads, contacts, clients, projects and more. Perfect for team collaboration and project management." | translate }}</p>
          </div>
          <div class="buttonsBox">
            <a (click)="addProduct('CRM web-app')" class="cardButton">
              <span class="material-symbols-outlined">
                library_add
              </span>
            </a>
            <a routerLink="/crm-webapp" class="cardButton">
              <span class="material-symbols-outlined">
                open_in_new
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="grayBackground">
          <div class="textsBox">
            <h1>{{ "Maintenance & support" | translate }}</h1>
            <p>{{ "Ensuring regular check-ups, performance optimizations, features update. Always ready to resolve any issue promptly." | translate }}</p>
          </div>
          <div class="buttonsBox">
            <a (click)="addProduct('Maintenance & support')" class="cardButton">
              <span class="material-symbols-outlined">
                library_add
              </span>
            </a>
            <a routerLink="/maintenance-support" class="cardButton">
              <span class="material-symbols-outlined">
                open_in_new
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background"></div>
</div>
<app-footer class="footerFix"></app-footer>
