<div class="servicesContainer">
  <div class="categoryContainer">
    <h1>{{ 'Graphic design services' | translate }}.</h1>
    <div class="cardsContainer">
      <div class="card">
        <h2>{{ 'Amazon solutions' | translate }}</h2>
        <div class="buttonsBox" routerLink="/amazon-solutions">
          <div class="cardButton">
            <span class="material-symbols-outlined">
              read_more
            </span>
          </div>
        </div>
      </div>
      <div class="card">
        <h2>{{ 'Advertising material' | translate }}</h2>
        <div class="buttonsBox" routerLink="/advertising-material">
          <div class="cardButton">
            <span class="material-symbols-outlined">
              read_more
            </span>
          </div>
        </div>
      </div>
      <div class="card">
        <h2>{{ 'Corporate identity' | translate }}</h2>
        <div class="buttonsBox" routerLink="/corporate-identity">
          <div class="cardButton">
            <span class="material-symbols-outlined">
              read_more
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="categoryContainer">
    <h1>{{ 'Marketing & advertising services' | translate }}.</h1>
    <div class="cardsContainer">
      <div class="card">
        <h2>{{ 'PPC campaign' | translate }}</h2>
        <div class="buttonsBox" routerLink="/ppc-campaign">
          <div class="cardButton">
            <span class="material-symbols-outlined">
              read_more
            </span>
          </div>
        </div>
      </div>
      <div class="card">
        <h2>{{ 'Email marketing' | translate }}</h2>
        <div class="buttonsBox" routerLink="/email-marketing">
          <div class="cardButton">
            <span class="material-symbols-outlined">
              read_more
            </span>
          </div>
        </div>
      </div>
      <div class="card">
        <h2>{{ 'Marketing strategy' | translate }}</h2>
        <div class="buttonsBox" routerLink="/marketing-strategy" >
          <div class="cardButton">
            <span class="material-symbols-outlined">
              read_more
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="categoryContainer">
    <h1>{{ 'Web development services' | translate }}.</h1>
    <div class="cardsContainer">
      <div class="card">
        <h2>{{ 'Restaurant web-app' | translate }}</h2>
        <div class="buttonsBox" routerLink="/restaurant-webapp">
          <div class="cardButton">
            <span class="material-symbols-outlined">
              read_more
            </span>
          </div>
        </div>
      </div>
      <div class="card">
        <h2>{{ 'Crm web-app' | translate }}</h2>
        <div class="buttonsBox" routerLink="/crm-webapp">
          <div class="cardButton">
            <span class="material-symbols-outlined">
              read_more
            </span>
          </div>
        </div>
      </div>
      <div class="card">
        <h2>{{ 'Maintenance & support' | translate }}</h2>
        <div class="buttonsBox" routerLink="/maintenance-support">
          <div class="cardButton">
            <span class="material-symbols-outlined">
              read_more
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer class="footerFix"></app-footer>
