@import "../../styles/helpers";
@import "../../styles/colors";

// GENERAL STYLES
.glossaryContainer {
  margin-top: 100px;
  @include displayFlex (row wrap, center, flex-start);
  @include medium12();
}

.Term {
  border-left: solid 1px white;
  margin: 5px;
  padding: 5px;
  max-width: 333px;
}

//Footer styles
.footerFix {
  margin-top: 30px;
  display: block;
}
@media (min-width:800px) and (min-height:860px) {
  .footerFix {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
