<div class="glossaryContainer">
  <div class="Term">
    <h1>{{ 'Advertising material' | translate }}</h1>
    <p>{{ 'Materials used in advertising campaigns, such as posters, brochures, and digital ads.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Amazon Ads' | translate }}</h1>
      <p>{{ 'Paid advertising on the e-commerce platform Amazon.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Amazon solutions' | translate }}</h1>
      <p>{{ 'Specific solutions designed to optimize the presence and sales of products on the Amazon platform.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Banner' | translate }}</h1>
      <p>{{ 'A visual ad format, usually online, used for promotions and marketing.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Brand identity' | translate }}</h1>
      <p>{{ 'The visual and conceptual representation of a brand, including elements like the logo, colors, and typography.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Brand persona' | translate }}</h1>
      <p>{{ 'The distinctive personality attributed to a brand.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Brand Store from Amazon' | translate }}</h1>
      <p>{{ 'A dedicated store on the Amazon platform showcasing and selling products from a specific brand.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Branding' | translate }}</h1>
      <p>{{ 'The process of building and managing a brand to create a distinctive and lasting perception in consumers\' minds.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Brochure' | translate }}</h1>
      <p>{{ 'An informative pamphlet presenting an organization, product, or service.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Color schemes' | translate }}</h1>
      <p>{{ 'The choice and combination of colors used in design to convey a consistent visual identity.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Content strategy' | translate }}</h1>
      <p>{{ 'Planning and managing the creation and distribution of content to achieve specific goals.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Corporate brand identity' | translate }}</h1>
      <p>{{ 'The visual and conceptual representation of a brand at a corporate level, covering broader aspects.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'CRUD (Create, Read, Update, Delete)' | translate }}</h1>
      <p>{{ 'Basic operations in computer systems to manage data.' | translate }}</p>
  </div>

  <div class="Term">
      <h1>{{ 'Facebook Ads' | translate }}</h1>
      <p>{{ 'Advertising on the social media platform Facebook.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Flyer' | translate }}</h1>
      <p>{{ 'A printed sheet designed for distribution, usually for promotions or events.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Font' | translate }}</h1>
      <p>{{ 'A graphic representation that identifies a company or brand.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Front end' | translate }}</h1>
      <p>{{ 'The part of a computer system that interacts directly with users.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Funnel strategy' | translate }}</h1>
      <p>{{ 'A sequence of steps to take a potential customer from brand awareness to making a purchase.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Google Ads' | translate }}</h1>
      <p>{{ 'Google\'s advertising platform that allows advertisers to display ads in Google search results.' | translate }}</p>
  </div>

  <div class="Term">
      <h1>{{ 'Graphic design' | translate }}</h1>
      <p>{{ 'Graphic design refers to the visual creation of content to communicate messages.' | translate }}</p>
  </div>

  <div class="Term">
      <h1>{{ 'Interface experience' | translate }}</h1>
      <p>{{ 'The user experience specifically related to the interface of a system or application.' | translate }}</p>
  </div>

  <div class="Term">
      <h1>{{ 'Lead' | translate }}</h1>
      <p>{{ 'A potential customer who has shown interest in a company\'s products or services.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Logo' | translate }}</h1>
      <p>{{ 'A graphic representation that identifies a company or brand.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Magazine' | translate }}</h1>
      <p>{{ 'A printed or digital publication containing articles, photographs, and advertisements.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Marketing strategy' | translate }}</h1>
      <p>{{ 'Planning and executing actions to promote and sell products or services.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Mock-up' | translate }}</h1>
      <p>{{ 'A visual representation of a design, often in the form of a model or prototype.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Online advertising' | translate }}</h1>
      <p>{{ 'Advertising conducted through online channels, such as websites, social media, and search engines.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'PPC (Pay Per Click)' | translate }}</h1>
      <p>{{ 'An online advertising model where advertisers pay when someone clicks on their ad.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Potential customer' | translate }}</h1>
      <p>{{ 'A person who has the possibility of becoming a customer due to their interest in products or services.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Printed advertising' | translate }}</h1>
      <p>{{ 'Advertising in various printed formats, such as posters, brochures, or newspaper ads.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Product gallery for Amazon' | translate }}</h1>
      <p>{{ 'A visual collection of products designed for effective presentation on the Amazon platform.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Responsive design' | translate }}</h1>
      <p>{{ 'Design that adapts and responds to different screen sizes and devices.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'SEO (Search Engine Optimization)' | translate }}</h1>
      <p>{{ 'Strategies to improve the visibility of a website in organic search engine results.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'SEM (Search Engine Marketing)' | translate }}</h1>
      <p>{{ 'Strategies to promote a website by increasing its visibility in paid search engine results.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Social media' | translate }}</h1>
      <p>{{ 'Online platforms and websites that allow users to create and share content.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Stand' | translate }}</h1>
      <p>{{ 'A structure for displaying promotional materials at events or fairs.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Stakeholders' | translate }}</h1>
      <p>{{ 'Individuals or groups with an interest in or who can be affected by a company\'s activities and decisions.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Typography' | translate }}</h1>
      <p>{{ 'The style and appearance of letters and characters used in design.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'User experience' | translate }}</h1>
      <p>{{ 'The overall experience of a user when interacting with a product or service.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Web-app' | translate }}</h1>
      <p>{{ 'An application designed to be used through a web browser.' | translate }}</p>
  </div>
  <div class="Term">
      <h1>{{ 'Web-site' | translate }}</h1>
      <p>{{ 'An online location composed of web pages and related resources.' | translate }}</p>
  </div>
</div>
<app-footer class="footerFix"></app-footer>
