<div class="pageContainer">
  <!-- INTRO BANNER -->
  <div class="introContainer">
    <div class="categoryCard" routerLink="/marketing-advertising">
      <div class="textsBox">
        <a>{{ "Marketing & advertising services" | translate }}</a>
      </div>
    </div>
    <div class="cardContainer">
      <div class="card" routerLink="/ppc-campaign">
        <div class="textsBox">
          <a>{{ "PPC campaign" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/email-marketing">
        <div class="textsBox">
          <a>{{ "Email marketing" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/marketing-strategy">
        <div class="textsBox">
          <a>{{ "Marketing strategy" | translate }}</a>
        </div>
      </div>
    </div>
    <div class="introText">
      <div class="title">
        <h1>{{"Marketing strategy" | translate}}.</h1>
        <h3>{{"Digital services" | translate}}</h3>
      </div>
      <div class="description">
        <p>{{"Focused on content and funnel strategies. I'm here to tailor the perfect approach for your business, develop a goal-centric plan to drive success." | translate}}</p>
      </div>
    </div>
  </div>
  <!-- SUBSERVICES BANNER WITH BULLETS -->
  <!-- Strategies container-->
  <div class="strategiesContainer">
    <!--Funnel Strategy-->
    <div class="strategy">
      <div class="titleBulletContainer">
        <div class="titleContainer">
          <h1>{{ 'Funnel strategy' | translate }}</h1>
        </div>
        <div class="bulletContainer">
          <div class="bulletTitle">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
            <h3>{{ 'Definition' | translate }}</h3>
          </div>
          <div class='bulletBody'>
            <p>{{ "A funnel strategy refers to the sequence of steps a potential customer takes to move from being aware of a brand or product to making a purchase." | translate }}</p>
          </div>
        </div>
        <div class="bulletContainer">
          <div class="bulletTitle">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
            <h3>{{ 'Focus' | translate }}</h3>
          </div>
          <div class='bulletBody'>
            <p>{{ "It focuses on the stages of a buyer's journey, often divided into awareness, consideration, decision, and post-purchase stages." | translate }}</p>
          </div>
        </div>
        <div class="bulletContainer">
          <div class="bulletTitle">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
            <h3>{{ 'Goals' | translate }}</h3>
          </div>
          <div class='bulletBody'>
            <p>{{ "The goal is to guide potential customers through the marketing funnel, providing the right information and offers at each stage to move them closer to making a purchase." | translate }}</p>
          </div>
        </div>
      </div>
      <div class="gifContainer">
        <img class="gif" src="../../../../assets/images/marketing/funnel.gif" alt="funnel-gif" />
      </div>
    </div>
    <!--Content Strategy-->
    <div class="strategy invertOrder">
      <div class="titleBulletContainer">
        <div class="titleContainer">
          <h1>{{ 'Content strategy' | translate }}</h1>
        </div>
        <div class="bulletContainer">
          <div class="bulletTitle">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
            <h3>{{ 'Definition' | translate }}</h3>
          </div>
          <div class='bulletBody'>
            <p>{{ "A content strategy outlines how content will be created, published, and managed to achieve specific goals." | translate }}</p>
          </div>
        </div>
        <div class="bulletContainer">
          <div class="bulletTitle">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
            <h3>{{ 'Focus' | translate }}</h3>
          </div>
          <div class='bulletBody'>
            <p>{{ "It's primarily concerned with developing and distributing valuable and relevant content to attract and engage a target audience. This content is often focused on education, entertainment, or problem-solving, designed to resonate with the audience's interests and needs." | translate }}</p>
          </div>
        </div>
        <div class="bulletContainer">
          <div class="bulletTitle">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
            <h3>{{ 'Goals' | translate }}</h3>
          </div>
          <div class='bulletBody'>
            <p>{{ 'Its primary aim is to generate brand awareness, engage with potential customers, build trust and authority, and foster customer loyalty by providing value through content.' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="gifContainer">
        <img class="gif" src="../../../../assets/images/marketing/content.gif" alt="content-gif" />
      </div>
    </div>
  </div>

  <div class="background"></div>
</div>
<app-footer class="footerFix"></app-footer>
