@import "../../../styles/helpers";
@import "../../../styles/colors";

// GENERAL STYLES
.pageContainer {
  @include displayFlex(column wrap, flex-start, center);
  @include medium12();
  margin: 80px 0 0 0;
  padding: 0;
  width: 100%;
}
//INTRO-CARDS BANNER
.introContainer {
  @include displayFlex(column nowrap, center, center);
  @include light();
  @include bold16();
  width: 100%;
  .categoryCard {
    @include displayFlex(column wrap, center, center);
    width: 100%;
    margin: 10px;
  }
  .cardContainer {
    @include displayFlex(row wrap, center, center);
    .card {
      @include displayFlex(row nowrap, center, center);
      @include whiteBlack();
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      border: none;
      .textsBox {
        @include displayFlex(row nowrap, center, center);
        a {
          @include bold12();
          margin: 0;
        }
      }
    }
  }
  .introText {
    margin: 10px;
    .title {
      h1 {
        margin: 0 15px;
        @include bold16();
      };
      h3 {
        margin: 15px 10px;
        @include italic12();
      }
    }
    .description {
      margin: 0 15px;
      p {
        margin: 0;
        @include medium12();
      };
    }
  }
}

//BUTTONS + BULLETS
.buttonsAndBullets {
  @include displayFlex(column-reverse wrap, center, center);
  padding: 20px 0;
  width: 90%;
  //BUTTONS OF SUB SERVICES
  .cardContainer {
    width: 100%;
    .card {
      @include displayFlex(column wrap, center, center);
      @include light();
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      border: none;
      .textsBox {
        @include displayFlex(row nowrap, center, center);
        a {
          @include bold12();
          margin: 0;
        }
      }
    }
  }
  //BULLET POINTS
  .bulletContainer {
    @include displayFlex(column wrap, center, center);
    width: 90%;
    .infoContainer {
      @include displayFlex (row nowrap, center, flex-start);
      text-align: left;
      margin-bottom: 15px;
      .text {
        max-width: 750px;
        p {
          margin: 0;
        }
      }
    }
  }
}
//DETAILED INFO BANNER
.subservice {
  @include displayFlex (column wrap, center, center);
  @include light();
  width: 100%;
  padding: 10px;
  .titleContainer{
    h1 {
      @include bold16();
      font-size: 1.5rem;
      margin: 10px;
    }
  }
  .block {
    .textAndGalleryContainer {
      @include displayFlex (column wrap, center, center);
      margin: 0;
      .infoContainer{
        @include displayFlex (row nowrap, flex-start, flex-start);
        .text {
          width: 100%;
          max-width: 450px;
        }
      }
      .galleryBox {
        @include displayFlex (row wrap, center, center);
        // margin: 20px;
        width: 100%;
        .productGalleryImage {
          width: 49%;
          border: none;
          border-radius: 5px;
        }
        .promoEbcStore {
          width: 100%;
          margin: 20px;
          border: none;
          border-radius: 5px;
        }
      }
    }
    .promoImageContainer {
      padding: 5px;
      .imagePromo {
        width: 100%;
        max-width: 800px;
        border: none;
        border-radius: 5px;
      }
    }
  }
}

//INTRO-CARDS BREAKPOINTS
@media (max-width: 440px) {
  .introContainer {
    .card{
      @include displayFlex(column wrap, center, center);
      width:90%;
      margin: 5px 0;
      height: 30px;
    }
  }
}
@media (min-width: 440px) {
  .introContainer {
    .card {
      @include displayFlex(row wrap, center, flex-start);
      width:30%;
      margin: 20px 5px;
      height: 60px;
    }
  }
}
//INTRO-TEXT BREAKPOINTS
@media (max-width: 560px) {
  .introText {
    @include displayFlex(column wrap, center, flex-start);
    .title {
      width:90%;
      text-align: left;
    }
    .description {
      max-width: 750px;
      width:90%;
    }
  }
}
@media (min-width: 560px) {
  .introText {
    @include displayFlex(row wrap, center, flex-start);
    .title {
      width:30%;
      text-align: right;
    }
    .description {
      max-width: 750px;
      width:60%;
    }
  }
}
//BUTTONS & BULLETS BANNER
//NAV BUTTONS
@media (max-width: 655px) {
  .buttonsAndBullets{
    .cardContainer {
      @include displayFlex(row wrap, center, center);
      .card{
        width:90%;
        margin: 5px 0;
        height: 30px;
      }
    }
  }
}
@media (min-width: 655px) {
  .buttonsAndBullets {
    .cardContainer {
      @include displayFlex(row nowrap, center, center);
      .card{
        width:45%;
        margin: 20px 5px;
        height: 60px;
      }
    }
  }
}

//PRODUCT GALLERY BREAKPOINTS
@media (max-width: 674px) {
  .subservice {
    .block {
      @include displayFlex (column wrap, center, flex-start);
      .textAndGalleryContainer {
        width: 100%;
      }
      .promoImageContainer {
        width: 100%;
      }
    }
  }
}
@media (min-width: 674px) {
  .subservice {
    .block {
      @include displayFlex (row wrap, center, flex-start);
      .textAndGalleryContainer {
        width: 50%;
      }
      .promoImageContainer {
        width: 50%;
      }
    }
  }
}
//BUTTONS HOVER FEATURE
@media (min-width: 850px) {
  .introContainer {
    .cardContainer {
      .card:hover {
        @include dark();
        cursor: pointer;
      }
    }
  }
  .buttonsAndBullets {
    .cardContainer {
      .card:hover {
        @include whiteBlack();
        cursor: pointer;
      }
    }
  }
}
