<div class="pageContainer">
  <!-- INTRO BANNER -->
  <div class="introContainer">
    <div class="categoryCard" routerLink="/graphic-design">
      <div class="textsBox">
        <h1>{{ "Graphic design services" | translate }}</h1>
      </div>
    </div>
    <div class="cardContainer">
      <div class="card" routerLink="/amazon-solutions">
        <div class="textsBox">
          <a>{{ "Amazon solutions" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/advertising-material">
        <div class="textsBox">
          <a>{{ "Advertising material" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/corporate-identity">
        <div class="textsBox">
          <a>{{ "Corporate identity" | translate }}</a>
        </div>
      </div>
    </div>
    <div class="introText">
      <div class="title">
        <h1>{{"Amazon solutions" | translate}}.</h1>
        <h3>{{"Digital services" | translate}}</h3>
      </div>
      <div class="description">
        <p>{{"Service specialized in creating visually appealing and brand-optimized product images, infographics, A+ content, and engaging storefront designs for effective representation and better visibility on the Amazon platform." | translate}}</p>
      </div>
    </div>
  </div>
  <!-- SUBSERVICES BANNER -->
  <div class="buttonsAndBullets">
    <!-- Sub services navigation -->
    <div class="cardContainer">
      <div class="card" (click)="showProductGallery()">
        <div class="textsBox">
          <a>{{ "Product gallery" | translate }}</a>
        </div>
      </div>
      <div class="card" (click)="showEbc()">
        <div class="textsBox">
          <a>{{ "Enhance brand content" | translate }}</a>
        </div>
      </div>
      <div class="card" (click)="showBrandStore()">
        <div class="textsBox">
          <a>{{ "Brand store" | translate }}</a>
        </div>
      </div>
    </div>
    <!-- BULLET POINTS -->
    <div class="bulletContainer">
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Visually Engaging Product Images: Compelling and high-quality product imagery that captivates the audience, leading to increased click-through rates and conversions." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"A+ Content Creation: Tailored creation of enhanced content, providing an immersive shopping experience that highlights product features, benefits, and differentiation." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Storefront Design Expertise: Customized storefront designs that align with brand identity, ensuring an inviting, professional, and trust-evoking presentation." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Infographic Development: Creation of engaging infographics that convey complex information in a visually appealing manner, enhancing product understanding and engagement." | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- DETAILED INFO BANNER PRODUKTGALERIE-->
  <div *ngIf="productGallery" class="subservice productGallery">
    <div class="titleContainer">
      <h1>{{ "Product listing images for Amazon" | translate }}</h1>
    </div>
    <div class="block">
      <div class="textAndGalleryContainer">
        <div class="infoContainer">
          <div class="bullet">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
          </div>
          <div class="text">
            <p>{{"Professional Product Showcase: Crafting a visually appealing and organized gallery that showcases products in an engaging and marketable way, increasing appeal to potential customers." | translate}}</p>
          </div>
        </div>
        <div class="infoContainer">
          <div class="bullet">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
          </div>
          <div class="text">
            <p>{{"Enhanced User Experience: Creating a user-friendly product gallery that enhances customer experience, aiding in quicker decision-making and contributing to increased sales and customer satisfaction." | translate}}</p>
          </div>
        </div>
        <div class="galleryBox">
          <img class="productGalleryImage" src="../../../assets/images/amazon-solutions/gallery.PT01.png"/>
          <img class="productGalleryImage" src="../../../assets/images/amazon-solutions/gallery.PT02.png"/>
          <img class="productGalleryImage" src="../../../assets/images/amazon-solutions/gallery.PT03.png"/>
          <img class="productGalleryImage" src="../../../assets/images/amazon-solutions/gallery.PT04.png"/>
          <img class="productGalleryImage" src="../../../assets/images/amazon-solutions/gallery.PT05.png"/>
          <img class="productGalleryImage" src="../../../assets/images/amazon-solutions/gallery.PT06.png"/>
        </div>
      </div>
      <div class="promoImageContainer">
        <img class="imagePromo" src="../../../assets/images/amazon-solutions/gallery-promo.webp"/>
      </div>
    </div>
  </div>
  <!-- DETAILED INFO BANNER EBC-->
  <div *ngIf="ebc" class="subservice productGallery">
    <div class="titleContainer">
      <h1>{{ "Images for Amazon's A+ Content" | translate }}</h1>
    </div>
    <div class="block">
      <div class="textAndGalleryContainer">
        <div class="infoContainer">
          <div class="bullet">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
          </div>
          <div class="text">
            <p>{{"Enhanced Product Representation: Crafting compelling, high-quality images specifically designed for A+ content to illustrate product features, benefits, and details, enhancing the customer's shopping experience." | translate}}</p>
          </div>
        </div>
        <div class="infoContainer">
          <div class="bullet">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
          </div>
          <div class="text">
            <p>{{"Elevate Brand Presence: Creating visually captivating and informative images that help establish a strong brand identity, leading to increased customer engagement and a higher conversion rate." | translate}}</p>
          </div>
        </div>
        <div class="galleryBox">
          <img class="promoEbcStore" src="../../../assets/images/amazon-solutions/ebc-promo.1 - 800x1002.png"/>
        </div>
      </div>
      <div class="promoImageContainer">
        <img class="imagePromo" src="../../../assets/images/amazon-solutions/ebc-promo.2 - 800x1600.png"/>
      </div>
    </div>
  </div>
  <!-- DETAILED INFO BANNER BRAND STORE-->
  <div *ngIf="brandStore" class="subservice productGallery">
    <div class="titleContainer">
      <h1>{{ "Images for Amazon's brand store" | translate }}</h1>
    </div>
    <div class="block">
      <div class="textAndGalleryContainer">
        <div class="infoContainer">
          <div class="bullet">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
          </div>
          <div class="text">
            <p>{{"Brand-Centric Visuals: Craft visually stunning images designed specifically for Amazon Brand Store to convey a brand's unique story, features, and products, enhancing brand recognition and customer appeal." | translate}}</p>
          </div>
        </div>
        <div class="infoContainer">
          <div class="bullet">
            <span class="material-symbols-outlined">
              chevron_right
            </span>
          </div>
          <div class="text">
            <p>{{"Storefront Optimization: Develop a compelling storefront through creatively designed graphics and images that engage and guide customers, improving browsing experience and fostering a lasting brand impression." | translate}}</p>
          </div>
        </div>
        <div class="galleryBox">
          <img class="promoEbcStore" src="../../../assets/images/amazon-solutions/store-promo.1 - 800x1002.png"/>
        </div>
      </div>
      <div class="promoImageContainer">
        <img class="imagePromo" src="../../../assets/images/amazon-solutions/store-promo.2 - 800x1600.png"/>
      </div>
    </div>
  </div>
  <div class="background"></div>
</div>
<app-footer class="footerFix"></app-footer>
