<div class="pageContainer">
  <!-- INTRO BANNER -->
  <div class="introContainer">
    <div class="categoryCard" routerLink="/web-development">
      <div class="textsBox">
        <a>{{ "Web development services" | translate }}</a>
      </div>
    </div>
    <div class="cardContainer">
      <div class="card" routerLink="/restaurant-webapp">
        <div class="textsBox">
          <a>{{ "Restaurant web-app" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/crm-webapp">
        <div class="textsBox">
          <a>{{ "CRM web-app" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/maintenance-support">
        <div class="textsBox">
          <a>{{ "Maintenance & support" | translate }}</a>
        </div>
      </div>
    </div>
    <div class="introText">
      <div class="title">
        <h1>{{"Maintenance & support" | translate}}.</h1>
        <h3>{{"Digital services" | translate}}</h3>
      </div>
      <div class="description">
        <p>{{"Ensuring regular check-ups, performance optimizations, features update. Always ready to resolve any issue promptly." | translate}}</p>
      </div>
    </div>
  </div>
  <!-- SUBSERVICES BANNER WITH BULLETS -->
  <div class="gifAndBullets">
    <!-- GIF -->
    <div class="gifContainer">
      <img class="gif" src="../../../../assets/images/developer/maintenance.gif" alt="maintenance-gif" />
    </div>
    <!-- BULLET POINTS -->
    <div class="bulletContainer">
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Regular Maintenance: Scheduled check-ups to keep systems and operations optimized." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Performance Enhancements: Constantly fine-tuning features for better performance." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Ongoing Feature Updates: Regular updates to ensure your technology stays current." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Rapid Issue Resolution: Swift resolution of any issues that arise." | translate}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="background"></div>
</div>
<app-footer class="footerFix"></app-footer>
