<div class="pageContainer">
  <!-- INTRO BANNER -->
  <div class="introContainer">
    <div class="cardContainer">
      <div class="card" routerLink="/ppc-campaign">
        <div class="textsBox">
          <a>{{ "PPC campaign" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/email-marketing">
        <div class="textsBox">
          <a>{{ "Email marketing" | translate }}</a>
        </div>
      </div>
      <div class="card" routerLink="/marketing-strategy">
        <div class="textsBox">
          <a>{{ "Marketing strategy" | translate }}</a>
        </div>
      </div>
    </div>
    <div class="introText">
      <div class="title">
        <h1>{{"Pay Per Click campaign" | translate}}.</h1>
        <h3>{{"Digital services" | translate}}</h3>
      </div>
      <div class="description">
        <p>{{"Crafting custom campaigns for optimal online visibility and ROI. A strategic keyword targeting and persuasive ad strategies across multiple platforms drive success. Elevate your brand exposure with our PPC services." | translate}}</p>
      </div>
    </div>
  </div>
  <!-- SUBSERVICES BANNER WITH BULLETS -->
  <div class="gifAndBullets">
    <!-- GIF -->
    <div class="gifContainer">
      <img class="gif" src="../../../../assets/images/marketing/ppc.gif" alt="ppc-gif" />
    </div>
    <!-- BULLET POINTS -->
    <div class="bulletContainer">
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Customized strategies tailored to each business, ensuring precise audience targeting and optimal keyword selection for higher conversions." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Data-driven campaign management, leveraging detailed analytics to make informed decisions and adjustments for optimal performance." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Rigorous ad performance analysis to fine-tune campaigns for maximum effectiveness and to seize new market opportunities." | translate}}</p>
        </div>
      </div>
      <div class="infoContainer">
        <div class="bullet">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div class="text">
          <p>{{"Innovative ad design, crafting compelling and visually engaging ad copies that resonate with the target audience." | translate}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="background"></div>
</div>
<app-footer class="footerFix"></app-footer>
